
  
  

  
  /* Add padding to containers */
  .container {
    background: url('https://bpmfinancial.com/images/bpm/slide_02-loan.jpg') no-repeat;
    height: 150vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=integer] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid rgb(14, 12, 12);
    border-radius: 10px;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=integer]:focus {
    background-color: #ddd;
    outline: none;
  }
      .h1{
          align-content: center;
          
      }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #080808;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .registerbtn:hover {
    background-color: #45a049;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
  custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color: DodgerBlue;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0px;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
  #Gender,#Education,#Credithistory,#Propertyarea,#LoanAmount,#LoanAmountTerm,#Maritalstatus,#co-applicantincome,#Dependents,#employed,#applicantincome{
    border-radius: 6px;
  }